/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2016, 2:54:36 PM
    Author     : Daniel Dang
*/

.navbar-default{
    background-color:#EB8D05;
}

.navbar-default .navbar-nav > li > li a{
    color: #EB8D05;
    font-family: Josefin Slab;
}

#page_title{
    font-family: Josefin Slab;
    font-size: 36px;
    font-style: italic;
}

#page_description{
    font-family: Josefin Slab;
    font-size: 22px;
    font-style: italic;
}

#break_bar{
    background-color: #EB8D05;
    height: 10px;
    margin-top: 5px;
}

.row{
    margin-bottom: 30px;
    margin-top: 30px;
}

#btn{
    margin-top: 20px;
}

#form_headline{
    font-family: Josefin Slab;
    font-size: 36px;
    font-style: italic;
    margin: 0px auto;
    text-align: center;
}

#services_offer{
    font-family: Josefin Slab;
    font-style: italic;
}