<div class="booking" id="searchBar">
    <form>
        <div class="col-xs-12 col-md-2" >
            <md-input-container>
                <md-select ng-model="numBed" placeholder="Number of Beds">
                    <md-option>1</md-option>
                    <md-option>2</md-option>
                    <md-option>3</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="col-xs-12 col-md-2">
            <md-input-container>
                <md-select ng-model="kitchen" placeholder="Kitchen">
                    <md-option>No</md-option>
                    <md-option>Yes</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="col-xs-12 col-md-2">
            <md-input-container>

                <md-select ng-model="roomType" placeholder="Room Type">
                    <md-option>Single Suite</md-option>
                    <md-option>Double Suite</md-option>
                    <md-option>Honeymoon Suite</md-option>
                    <md-option>Presidential Suite</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="col-xs-12 col-md-2">
            <md-input-container>
                <md-select ng-model="view" placeholder="View">
                    <md-option>Skyline</md-option>
                    <md-option>Beachfront</md-option>
                    <md-option>Courtyard</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div id="pricePerNight">
            <div class="labelAlign">
                <p style="display: inline;  margin-bottom: 20px" id="priceLbl">PRICE (${{ price }})</p>
            </div>
            <div>
                <md-slider-container>
                    <md-slider class="md-primary" flex min="0" max="3000" ng-model="price" aria-label="price" id="price-slider"></md-slider>    
                </md-slider-container>
            </div>
        </div>
        
        <div class="col-md-2">
            <input type="date" class="form-control" ng-model="startDate">
        </div>
        <div class="col-md-2">
            <input type="date" class="form-control" ng-model="endDate">
        </div>
        
        <input style="border-radius: 0; margin-left: 15px" type="submit" class="btn btn-primary" ng-click="searchBookings()" value="Submit"/>
    </form>
</div>

<div class="clear"></div>

<div class="container-fluid" style="padding-top: 2em">
    <div class="col-md-12">
        <p class="alert alert-danger" ng-show="error">{{ error }}</p>
        
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Room Type</th>
                    <th>Beds</th>
                    <th>Kitchen</th>
                    <th>View</th>
                    <th>Price Per Night</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="room in rooms.array">
                    <td>{{ room.id }}</td>
                    <td>{{ room.roomType }}</td>
                    <td>{{ room.numBed }}</td>
                    <td>{{ room.kitchen }}</td>
                    <td>{{ room.view }}</td>
                    <td>{{ room.pricePerNight }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div ng-repeat="results in roomSearch" style="font-family: Josefin Slab; font-size: 14px;">
                {{results}}
            </div>
        </div>
    </div>
</div>