<div class="container-fluid home row">
    <div class="col-xs-6 col-xs-offset-3 col-md-10 col-md-offset-1" style="padding: 1em 2em">
        <form  data-remote=true>
            <div class="col-xs-12 col-md-2" >
                <md-input-container>
                    <md-select ng-model="numBed" placeholder="Number of Beds">
                        <md-option>1</md-option>
                        <md-option>2</md-option>
                        <md-option>3</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-xs-12 col-md-2">
                <md-input-container>
                    <md-select ng-model="kitchen" placeholder="Kitchen">
                        <md-option>No</md-option>
                        <md-option>Yes</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-xs-12 col-md-2">
                <md-input-container>

                    <md-select ng-model="roomType" placeholder="Room Type">
                        <md-option>Single Suite</md-option>
                        <md-option>Double Suite</md-option>
                        <md-option>Honeymoon Suite</md-option>
                        <md-option>Presidential Suite</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-xs-12 col-md-2">
                <md-input-container>
                    <md-select ng-model="view" placeholder="View">
                        <md-option>Skyline</md-option>
                        <md-option>Beachfront</md-option>
                        <md-option>Courtyard</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div id="pricePerNight" class="col-xs-12 col-md-2">
                <div class="labelAlign">
                    <p style="display: inline;  margin-bottom: 20px" id="priceLbl">PRICE (${{ price }})</p>
                </div>
                <div>
                    <md-slider-container>
                        <md-slider class="md-primary" flex min="0" max="3000" ng-model="price" aria-label="price" id="price-slider"></md-slider>    
                    </md-slider-container>
                </div>
            </div>
        
            <div class="row">
                <div>
                    <div class="col-md-4 col-md-offset-1">
                        <input type="date" class="form-control" ng-model="startDate">
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <input type="date" class="form-control" ng-model="endDate">
                    </div>
                    <div class="col-md-2">
                        <button type="button" value="Search" class="btn btn-primary btn-block" ng-click="searchBookings()">Search</button>
                    </div>
                    
                </div>
            </div>
        </form>
        
    
        <div><p style="padding-bottom: 1.5em"> </p></div>
    	<div>
            <table class="table table-condensed table-hover" ng-cloak>
                <caption ng-if="">Number of rooms {{ rooms.array.length }}</caption>
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Room Type</th>
                        <th>Beds</th>
                        <th>Kitchen</th>
                        <th>View</th>
                        <th>Price Per Night</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="room in rooms.array">
                        <td>{{ room.id }}</td>
                        <td>{{ room.roomType }}</td>
                        <td>{{ room.numBed }}</td>
                        <td>{{ room.kitchen }}</td>
                        <td>{{ room.view }}</td>
                        <td>{{ room.pricePerNight }}</td>
                    </tr>
                </tbody>
            </table>
    	</div>
    </div>
</div>