/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2016, 2:54:36 PM
    Author     : Daniel Dang
*/
.active {
    background-color: azure;
    color:aqua;
}

.navbar-default{
    background-color:#EB8D05;
}

.navbar-default .navbar-nav > li > li a{
    color: #EB8D05;
    font-family: Josefin Slab;
}

#page_title{
    font-family: Josefin Slab;
    font-size: 36px;
    font-style: italic;
}

#page_description{
    font-family: Josefin Slab;
    font-size: 22px;
    font-style: italic;
}

#break_bar{
    background-color: #EB8D05;
    height: 10px;
    margin-top: 5px;
}

.row{
    margin-bottom: 30px;
    margin-top: 30px;
}

#btn{
    margin-top: 20px;
}

#form_headline{
    font-family: Josefin Slab;
    font-size: 36px;
    font-style: italic;
    margin: 0px auto;
    text-align: center;
}

#about_us{
    width: 75%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    text-align: center;
    border-style: solid solid solid solid;
    border-color: #EB8D05;
    padding: 20px 20px 20px 20px;
    font-family: Josefin Slab;
    font-style: italic;
}

#services_offer{
    font-family: Josefin Slab;
    font-style: italic;
}

@keyframes fadeIn {
    0%    { opacity: 0; }
    50%   { opacity: .5; }
    100%  { opacity: 1; }
}

@keyframes fadeOut {
    0%    { opacity: 1; }
    50%   { opacity: .5; }
    100%  { opacity: 0; }
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from    { transform: translateX(100%); }
    to      { transform: translateX(0); }
}

.ng-enter  { 
    animation: fadeIn 0.3s both ease; 
    animation-delay: 0.23s;
    z-index: 8888;
}

.ng-leave  { 
    animation: fadeOut 0.2s both ease;
    z-index: 9999;
}

