<div class="col-xs-6 col-xs-offset-3">
    <h2>Login</h2>
    <hr/>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form" ng-submit="login()">
        <div class="input-group">
            <label class="input-group-addon">Username</label>
            <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
        </div>
        <br/>
        <div class="input-group">
            <label class="input-group-addon">Password&nbsp;</label>
            <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
        </div>
        <br/>
        <div>
            <button id="login" type="submit" class="btn btn-primary" ng-disabled="disabled">Login</button>
        </div>
    </form>
</div>