<div id="form_headline">
    <h2>Membership Sign Up Form</h2>
    <h4>Fill out the information below to sign up for an account and be eligible on 
                                                              special services that we have available at our hotel.</h4>
</div>

<div id="signup_layout" ng-controller="registerController">
    <div class="col-md-6 col-md-offset-3">
        <p class="alert alert-danger" ng-show="error">{{errorMessage}}</p>
        <p class="alert alert-success" ng-show="success">Registration successful!</p>
    </div>
    
    <form name="registerForm" ng-submit="registerForm.$valid && register()">
        <div class="row form-group">
            <div class="col-md-4 col-md-offset-4">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required type="email" md-minlength="6" name="userName" ng-model="email">        
                </md-input-container>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4 col-md-offset-4">
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required type="password" md-minlength="7" name="password" ng-model="password">        
                
                <div ng-messages="registerForm.password.$error" || !registerForm.password.$valid>
                    <div ng-message="required">Password must be at least 7 characters</div>
                </div>
                </md-input-container>
            </div>
            <!--<div class="col-md-1 col-md-offset-4">
                <label class="form-control-label" for="pwd">Password:</label>
            </div>
            <div class="col-md-2">
                <input type="password" class="form-control" id="pwd" ng-model="password" ng-minlength="7" placeholder="Password must be at least 7 characters" required>
            </div>-->
        </div>
        <div class="row form-group">        
            <div class="col-md-1 col-md-offset-4">
                <label class="form-control-label" for="pwdConfirm">Confirm Password:</label>
            </div>
            <div class="col-md-2">
                <input type="password" class="form-control" id="pwdConfirm" ng-model="confirmPassword" ng-minlength="7" placeholder="Password must be at least 7 characters" required>
            </div>
        </div>
        <div class="row form-group">
           <div class="col-md-1 col-md-offset-4">
                <label class="form-control-label" for="dob">Date of Birth:</label>
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control" id="dob" ng-model="dateOfBirth" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-1 col-md-offset-4">
                <label class="form-control-label" for="fstName">First name:</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="fstName" ng-model="firstName" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-1 col-md-offset-4">
                <label class="form-control-label" for="lstName">Last name:</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="lstName" ng-model="lastName" required>
            </div>
        </div>
        <div class="row" id="btn">
            <div class="col-md-2 col-md-offset-5">
                <button class="btn btn-primary btn-block" type="submit" id="signUpBtn" ng-diabled="disabled">Sign Up</button>
            </div>
        </div>
    </form>
</div>